<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
		BumptUp is the employee driven feedback system for your company.  BumptUp provides a tool to employees of your company that is driven by, and gives a voice to, those employees.  BumptUp aggregates honest feedback and provides it to the right people at your company.  Signing up for BumptUp is quick and anonymous, and it helps get your company on its way to being a more transparent workplace.
    </p>
