<% provide(:title, 'Contact') %>
    <h1>Contact</h1> 
    <p>
	  Contact BumptUp at <a href="BumptUp@gmail.com">BumptUp@gmail.com/a>.  We'd love to hear your thoughts on how we can shape this product into the tool that you need.

    </p>
