

<br>
<div class="container">
  <div class="row">
    <%= render "users/signed_in_sidebar" %>
    <div class="col-md-7">
      <!-- this is the main section -->
      <div class="well well-sm">
        <p></p>
         
        <h4>Give feedback for <%= User.name %>, <%= User.email %></h4>
        <div class="row">
          <div class="col-md-5" align="left">
            <p>Let your coworker know how he or she is doing in these five key areas. </p>
            <p></p>
            <p>10 is Best</p>
            <p></p>
            <p>1 is Worst</p>
            <p></p>
            <p>0 means "no rating given"</p>

          </div>
          <div class="col-md-5">
          Results: <span id="resultsRange">0</span>
          <input type="range" min="0" max="10" value="0" step="1" onchange="resultsValue(this.value)" />
          Job Knowledge: <span id="jkRange">0</span>
          <input type="range" min="0" max="10" value="0" step="1" onchange="jkValue(this.value)" />
          Initiative: <span id="initiativeRange">0</span>
          <input type="range" min="0" max="10" value="0" step="1" onchange="initiativeValue(this.value)" />          
          Communication: <span id="commRange">0</span>
          <input type="range" min="0" max="10" value="0" step="1" onchange="commValue(this.value)" />          
          Leadership: <span id="leadershipRange">0</span>
          <input type="range" min="0" max="10" value="0" step="1" onchange="leadershipValue(this.value)" />          

          <script type="text/javascript">
          function resultsValue(newValue)
          {
            document.getElementById("resultsRange").innerHTML=newValue;
          }
          function jkValue(newValue)
          {
            document.getElementById("jkRange").innerHTML=newValue;
          }
          function initiativeValue(newValue)
          {
            document.getElementById("initiativeRange").innerHTML=newValue;
          }
          function commValue(newValue)
          {
            document.getElementById("commRange").innerHTML=newValue;
          }
          function leadershipValue(newValue)
          {
            document.getElementById("leadershipRange").innerHTML=newValue;
          }
          </script>

            
          </div>
        </div>
      </div>
      <div class="well well-sm">
        <p></p>
        <h4>Give attributes for Amy Townley | select as many as apply</h4>
        <div align="center">
          <b>Ability</b>
        </div>
        <div class="row">
          <div class="col-md-5" align="left">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Technical guru</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Photographic memory</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Brilliant</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Big picture thinker</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Polished presentation</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">CEO potential</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Deserves a promotion</label>
            </div>
          </div>
          <!-- end of left section -->
          <div class="col-md-7">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Needs to gain experience</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Needs better follow up on actions</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Needs to build credibility with employees</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Needs to see the forest for the trees</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Needs more professional presentation</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Needs to demonstrate potential</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Needs a role with a better fit</label>
            </div>
          </div>
        </div>
        <!-- end of right section-->
        <div align="center">
          <b>Teamwork</b>
        </div>
        <div class="row">
          <div class="col-md-5" align="left">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Positive attitude</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Team player</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Honest</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Inspires people</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Deflects credit</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Life of the party / meeting</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Employees love him/her</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Leads by example</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Walks the walk</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Hires well</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Communicates clearly</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Personable and well liked</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Markets self well</label>
            </div>
          </div>

        <!-- end of left section -->
        <div class="col-md-7">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs to improve attitude</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs to work more effectively with team</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs to be more forethright in dealings</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs to inspire with credible vision</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs to give credit where due</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs to build better rapport</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs more reasonable expectations</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs to practice what he/she preaches</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs to put in put in more effort</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs to improve hiring</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs to communicate more clearly</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs better relationship with coworkers</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs to communicate contributions</label>
          </div>
        </div>
        </div>
        <!-- end of right section-->
        
        <div align="center">
          <b>Customer Relations</b>
        </div>
        <div class="row">
          <div class="col-md-5" align="left">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Good customer rapport</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Voice for the customer</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Knows the market</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Rainmaker</label>
            </div>
          </div>
          <!-- end of left section -->
        <div class="col-md-7">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs to build credibility with clients</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs to advocate for customer</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs better market understanding</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs to win more business</label>
          </div>
        </div>
        </div> <!-- end of right section -->
                  <div align="center">
          <b>Work Ethic</b>
        </div>
        <div class="row">
          <div class="col-md-5" align="left">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Dependable</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Tireless worker</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Meets and beats deadlines</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">In early / stays late</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Laser focus on task at hand</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Finds a way to win</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Ambitious</label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="true">Goes above and beyond</label>
            </div>
          </div>
          <!-- end of left section -->
        <div class="col-md-7">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs to deliver on commitments</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs to apply self more</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs to complete work more quickly</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs to avoid kissing up</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs to avoid distractions</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs to not rest aon laurels</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs to show more ambition</label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="true">Needs to do more than is asked</label>
          </div>
        </div>
        </div> <!-- end of right section -->  
        
      </div>
    </div>
  </div>
</div>