 <%# provide(:title, 'Home') %>  <%# removed per listing 4.5.  Notice how to do comments!! %>
    <h1>Sample App</h1>
    <p>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
