<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %> 

<ul class="users"> <%# makes it render _user.html.erb and the next line passes the user%>
	<%= render @users %>
</ul>

<%= will_paginate %> 